{% sw_extends '@Storefront/storefront/layout/cookie/cookie-configuration.html.twig' %}

{# hide close button #}
{% block utilities_offcanvas_close %}{% endblock %}

{# insert accept-all-button #}
{% block layout_cookie_configuration_button %}
    {% if shopware.config.McsCookiePermission.config.ShowAcceptAll %}
        <button
                type="submit"
                class="btn btn-primary btn-block js-offcanvas-cookie-submit-all">
            {{ "mcs-cookie-permission.cookie.accept"|trans|sw_sanitize }}
        </button>
        <button
                type="submit"
                class="btn btn-link btn-block js-offcanvas-cookie-submit">
            {{ "cookie.save"|trans|sw_sanitize }}
        </button>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
