{% sw_extends '@Storefront/storefront/layout/cookie/cookie-configuration.html.twig' %}

{# hide close button #}
{% block utilities_offcanvas_close %}{% endblock %}

{# modify buttons #}
{% block layout_cookie_configuration_button %}
    {% if config('core.basicInformation.acceptAllCookies') %}
        {% set hasButtonAcceptAll = true %}
    {% elseif config('McsCookiePermission.config.ShowAcceptAll') %}
        {% set hasButtonAcceptAll = true %}
        {# insert accept-all-button #}
        <button
                type="submit"
                class="btn btn-primary btn-block js-offcanvas-cookie-submit-all">
            {{ "mcs-cookie-permission.cookie.accept"|trans|sw_sanitize }}
        </button>
    {% endif %}
    {% if hasButtonAcceptAll and not config('McsCookiePermission.config.DisableDarkPattern') %}
        {# apply dark pattern (unobtrusive save button) #}
        <button
                type="submit"
                class="btn btn-link btn-block js-offcanvas-cookie-submit">
            {{ "cookie.save"|trans|sw_sanitize }}
        </button>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
