<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Cookie Dialog Configuration</title>
        <title lang="de-DE">Einstellungen Cookie Dialog</title>
        <title lang="en-GB">Cookie Dialog Configuration</title>
        <input-field type="bool">
            <name>ShowAcceptAll</name>
            <label>Show Accept-All-Button</label>
            <label lang="de-DE">Button "Alle akzeptieren" anzeigen</label>
            <label lang="en-GB">Show button "accept all"</label>
        </input-field>
    </card>
</config>